@model IEnumerable<UserViewModel>
<h1>Banned users:</h1>

@foreach (var user in Model)
{
    <p>@user.UserName</p>
    <p>@user.IsAdmin</p>
    <p>@user.IsBanned</p>
    <p>@user.BanReason</p>
    <p>##########################</p>
}
