@model IEnumerable<adnumaZ.ViewModels.UserViewModel>

@foreach (var user in Model)
{
    <p>@user.UserName</p>
    <p>@user.IsAdmin</p>
    <p>@user.IsBanned</p>
    <p>@user.BanReason</p>
    <p>##########################</p>
}

