@model int

@{
    ViewData["Title"] = $"Error {Model}";
    Layout = "_ErrorLayout";
}
    <div id="wrap">
    <div id="wordsearch">
      <ul>
        <li>k</li>

        <li>v</li>

        <li>n</li>

        <li>z</li>

        <li>i</li>

        <li>x</li>

        <li>m</li>

        <li>e</li>

        <li>t</li>

        <li>a</li>

        <li>x</li>

        <li>l</li>

        <li class="one">4</li>

        <li class="two">0</li>

        <li class="three">4</li>

        <li>y</li>

        <li>y</li>

        <li>w</li>

        <li>v</li>

        <li>b</li>

        <li>o</li>

        <li>q</li>

        <li>d</li>

        <li>y</li>

        <li>p</li>

        <li>a</li>

        <li class="four">p</li>

        <li class="five">a</li>

        <li class="six">g</li>

        <li class="seven">e</li>

        <li>v</li>

        <li>j</li>

        <li>a</li>

        <li class="eight">n</li>

        <li class="nine">o</li>

        <li class="ten">t</li>

        <li>s</li>

        <li>c</li>

        <li>e</li>

        <li>w</li>

        <li>v</li>

        <li>x</li>

        <li>e</li>

        <li>p</li>

        <li>c</li>

        <li>f</li>

        <li>h</li>

        <li>q</li>

        <li>e</li>

        <li class="eleven">f</li>

        <li class="twelve">o</li>

        <li class="thirteen">u</li>

        <li class="fourteen">n</li>

        <li class="fifteen">d</li>

        <li>s</li>

        <li>w</li>

        <li>q</li>

        <li>v</li>

        <li>o</li>

        <li>s</li>

        <li>m</li>

        <li>v</li>

        <li>f</li>

        <li>u</li>
      </ul>
    </div>

    <div id="main-content">
      <h1>We couldn't find what you were looking for.</h1>

      <p>Unfortunately the page you were looking for could not be found. It may be
      temporarily unavailable, moved or no longer exist.</p>

      <p>Check the URL you entered for any mistakes and try again. Alternatively, search
      for whatever is missing or take a look around the rest of our site.</p>

      @if (this.User.Identity.IsAuthenticated)
{
    <div id="search">
    <form asp-controller="Torrent" asp-action="All" asp-route-id="1">
        <div class="input-group mb-4">
            <input type="search" name="search" class="form-control" placeholder="Enter keywords, space separated..." />
            <div class="input-group-append">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </div>
    </form>
    </div>
}
      <div id="navigation">
        <a class="navigation" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        <a class="navigation" asp-area="" asp-controller="Torrent" asp-action="All">Torrents</a>
      </div>
    </div>
  </div>

@section Scripts{
    <script>
      $(function () {
    var liWidth = $("li").css("width");
    $("li").css("height", liWidth);
    $("li").css("lineHeight", liWidth);
    var totalHeight = $("#wordsearch").css("width");
    $("#wordsearch").css("height", totalHeight);
});
causeRepaintsOn = $("h1, h2, h3, p");
$(window).resize(function () {
    causeRepaintsOn.css("z-index", 1);
});
$(window).on('resize', function () {
    var liWidth = $(".one").css("width");
    $("li").css("height", liWidth);
    $("li").css("lineHeight", liWidth);
    var totalHeight = $("#wordsearch").css("width");
    $("#wordsearch").css("height", totalHeight);
});



$(function () {
    /* 4 */
    $(this).delay(1500).queue(function () {
        $(".one").addClass("selected");
        $(this).dequeue();
    })
    /* 0 */
    .delay(500).queue(function () {
        $(".two").addClass("selected");
        $(this).dequeue();
    })
    /* 4 */
    .delay(500).queue(function () {
        $(".three").addClass("selected");
        $(this).dequeue();
    })
    /* P */
    .delay(500).queue(function () {
        $(".four").addClass("selected");
        $(this).dequeue();
    })
    /* A */
    .delay(500).queue(function () {
        $(".five").addClass("selected");
        $(this).dequeue();
    })
    /* G */
    .delay(500).queue(function () {
        $(".six").addClass("selected");
        $(this).dequeue();
    })
    /* E */
    .delay(500).queue(function () {
        $(".seven").addClass("selected");
        $(this).dequeue();
    })
    /* N */
    .delay(500).queue(function () {
        $(".eight").addClass("selected");
        $(this).dequeue();
    })
    /* O */
    .delay(500).queue(function () {
        $(".nine").addClass("selected");
        $(this).dequeue();
    })
    /* T */
    .delay(500).queue(function () {
        $(".ten").addClass("selected");
        $(this).dequeue();
    })
    /* F */
    .delay(500).queue(function () {
        $(".eleven").addClass("selected");
        $(this).dequeue();
    })
    /* O */
    .delay(500).queue(function () {
        $(".twelve").addClass("selected");
        $(this).dequeue();
    })
    /* U */
    .delay(500).queue(function () {
        $(".thirteen").addClass("selected");
        $(this).dequeue();
    })
    /* N */
    .delay(500).queue(function () {
        $(".fourteen").addClass("selected");
        $(this).dequeue();
    })
    /* D */
    .delay(500).queue(function () {
        $(".fifteen").addClass("selected");
        $(this).dequeue()
    });
});
  </script>
}
  